
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.btn{
    color: black;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}
.btn:hover{
    background-color: #3044B6;
    color: #fff;
}

.conversor-imagen{
    width: 150px;
}

.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moneda select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.moneda input {
    border: 1px;
    font-size: 30px;
    text-align: right;
}

.taza-cambio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cambio{
    color: black;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 600;
}

select:focus, input:focus, button:focus{
    outline: 0;
}

@media (max-width:600px) {
    .moneda input{
        width: 200px;
    }
    
}
.conversor{
    border: 1px #ccc;
}




